html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0 auto;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}
ul {
  list-style: none;
}

.splash {
  height: 100vh;
  background: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.splash > .links {
  background: pink;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash > .links > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projects {
  height: 100vh;
  background: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.projects > .impulsegame {
  height: 100px;
  width: 100vw;
  position: relative;
}



.about-me {
  height: 100vh;
  background: lightgreen;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
